@{
    ViewData["Title"] = "Home Page";
}

<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="detail-box">
                                <h1>
                                    Welcome to FootTrap
                                </h1>
                                <p>
                                    Welcome to Foot Trap, where style meets comfort in every step! Whether you're seeking the perfect pair of kicks for a casual outing or sophisticated heels for a special occasion, our curated selection of top-quality footwear has you covered. Dive into our diverse range of options, from trendy sneakers that effortlessly blend fashion and function to timeless classics that exude elegance. With an unwavering commitment to exceptional service, our knowledgeable staff is here to guide you towards finding the perfect fit for your unique style and needs. Step into Foot Trap today and elevate your shoe game with unparalleled comfort and style!
                                </p>
                                <a asp-action="WhyUs" asp-controller="Home">
                                    Why FootTrap?
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-box">
                                <img src="~/img/Screenshot (18).png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="detail-box">
                                <h1>
                                    Welcome FootTrap
                                </h1>
                                <p>
                                    Introducing our latest women's shoe collection - a fusion of elegance and comfort. Each pair embodies sophistication with a modern twist, designed to empower and inspire. From chic heels to versatile flats, our collection offers something for every occasion. Elevate your style and step into confidence with our new women's shoe collection.
                                </p>
                                <a href="">
                                    FootTrap QUALITY
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="~/img/622a2a9d24000058bf96c674.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="detail-box">
                                <h1>
                                    Welcome FootTrap
                                </h1>
                                <p>
                                    Introducing the latest evolution of style: the Jordan 1 High New Model. Designed to transcend trends and elevate your sneaker game to new heights. With its iconic silhouette and premium materials, this shoe blends heritage with innovation effortlessly. Step into the future of footwear and make a statement with every stride. Experience the legend, embrace the new. Jordan 1 High New Model – where heritage meets contemporary.
                                </p>
                                <a href="">
                                    FootTrap QUALITY
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="img-box">
                                <img src="~/img/shoe-air-jordan.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel_btn_box">
            <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel1" data-bs-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#customCarousel1" data-bs-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>
</section>
