@model FootTrap.Services.ViewModels.Shoes.ShoeFromModel

@{
    ViewData["Title"] = "Add Dish";
}



<div class="row">
    <h2 class="text-center text-light">@ViewData["Title"]</h2>

    <partial name="_ShoeFromPartial" model="@Model" />

</div>

@section Styles {
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/addShoe.css" asp-append-version="true" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js" asp-append-version="true"></script>
}
